# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Env
.venv/
venv/
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Captures / large media (opsiyonel)
assets/captures/
*.mp4
*.mov
*.avi
*.gif
